DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=your_database_name
SECRET_KEY=your_secret_key
FLASK_DEBUG=True

MANHWA_FOLDER=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=

FLASK_ENV=production
ASURA_ENABLED=true
ASURA_BASE_URL=https://asurascans.com
ASURA_URL_TEMPLATE=https://asurascans.com/comics/{slug}
